/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
   
  }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}